ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    background: rgb(238, 238, 238);
    padding: 2em;
    border-radius: 4px;
    margin-bottom: 7px;
    display: grid;
    grid-template-columns: 60px auto;

    p {
      font-weight: bold;
      margin-left: 20px;
    }

    img {
      border-radius: 50%;
      width: 100%;
    }
  }
}


section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  width: 490px;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}



