

<div >

  <div class="row">
    <div class="col-md-4">
      <h1>DataHub Edge SDK</h1>
      <div class="form-group">
        <label for="name">NodeId</label>
        <input [(ngModel)]="nodeId" type="text" class="form-control" >
      </div>

      <div class="form-group">
        <label >Credential Key</label>
        <input [(ngModel)]="credentialKey" type="text" class="form-control" >
      </div>

      <!-- <div class="form-group">
        <label for="power">API Url</label>
        <select class="form-control" id="power" required [(ngModel)]="model.power" name="power">
          <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option>
        </select>
      </div> -->

      <div class="form-group">
        <label >API Url</label>
        <input [(ngModel)]="apiUrl" type="text" class="form-control" >
      </div>

    </div>

    <div class="col-md-5">

      <div class="row">
        <button class="col-md-12" rows="2" [style.background-color]="connectedStatus" style="margin: 10px; height: 70px;background-color: lightgray"
          mat-raised-button>Connected</button>

      </div>

      <div class="row">

        <button (click)="connectDatahub()" class="col-md-5" style="margin: 10px;background-color: lightgrey" mat-raised-button>Connect</button>
        <button class="col-md-5" style="margin: 10px;background-color: lightgrey" mat-raised-button>Disconnect</button>

      </div>

      <div class="row">


        <button class="col-md-5" style="margin: 10px;background-color: lightgrey" mat-raised-button>Send Data</button>
        <!-- <button class="col-md-5" style="margin: 10px;background-color: lightgrey" mat-raised-button disabled>Upload Config </button> -->

      </div>
      <div class="row">

        <!-- <a class="col-md-6" style="margin: 10px;background-color: lightgrey" mat-raised-button href="https://www.google.com/" target="_blank">Delete Tag</a> -->
        <button class="col-md-5" style="margin: 10px;background-color: lightgrey" mat-raised-button disabled>Update
          device status </button>
      </div>
      

    </div>

    <div class="col-md-3">
      <button class="col-md-12" style="margin: 10px;height: 70px;background-color: lightgrey" mat-raised-button>Upload
        config</button>
      <button class="col-md-12" style="margin: 10px;background-color: lightgrey" mat-raised-button>Update
        Config</button>
      <button class="col-md-12" style="margin: 10px;background-color: lightgrey" mat-raised-button>Delete All
        Config</button>
      <button class="col-md-12" style="margin: 10px;background-color: lightgrey" mat-raised-button>Delete
        Device</button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label for="name">Analog Tag Count</label>
        <input type="text" class="form-control" value="5" >
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="name">Discrete Tag Count</label>
        <input type="text" class="form-control" value="5" id="name" >
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="name">Text Tag Count</label>
        <input type="text" class="form-control" value="5" id="name" >
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="name">Data Frequency</label>
        <input type="text" class="form-control" value="1" id="name" >
      </div>
    </div>
  </div>


</div>

<form >
  <!-- <h5 *ngIf="success">Your form is valid!</h5> -->

  <div class="row" style="padding-top:50px">
    <div class="col-md-12">
      <h1>API Get Data</h1>

    </div>

    <div class="col-md-12">
     <span> <strong>Url: </strong>http://smart.cpc.vn/etl/api/getInfoMeter</span>
     <button (click)="getDataFromAPI()" style="margin: 10px;" color="primary" mat-raised-button>Get Data From API</button>     <br>
     <br>
     {{apidata | json}}
     <!-- <mat-card>{{users | json}}</mat-card>
      -->
    </div>
  </div>


</form>


<div *ngIf="submitted" class="results">
  <strong>Name:</strong>
  <span>{{ messageForm.controls["name"].value }}</span>

  <strong>Message:</strong>
  <span>{{ messageForm.controls["message"].value }}</span>
</div>